<div class="container">
	<h1>Area Of Interests</h1>
	<% @area_of_interests.each do |aoi| %>
		<li>
			<%= aoi.name %> |
			<%= link_to "destroy", area_of_interest_path(aoi), method: :delete, data: {confirm: "Are you sure to delete this area of interest?" } %>
		</li><br>
	<% end %>
	
	<%= form_with model: @area_of_interest do |form| %>
		<%= form.label :name %> <br>
		<%= form.text_field :name %> <br>
		<% @area_of_interest.errors.full_messages_for(:name).each do |message| %>
			<%= message %>
		<% end %><br>
		<%= form.submit "Add area of interest", class: 'btn btn-primary' %>
	<% end %>
	<br><br>
	<%= link_to "back", colleges_path, class: 'btn btn-secondary' %>
</div>